#intro {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #232C30;
  overflow-y: scroll;
  color: white;
  padding-top: 50px;
  font-size: 1.3em;
  display: none;
  z-index: 999;
  top: 0;
  left: 0;
}

#intro h2 {
  text-transform: uppercase;
  text-align: center;
}

#intro a {
  display: block;
  margin: 10px 30px;
  text-decoration: none;
  color: #00aeec;
}
#preloader {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.8;
  background: #000 url(../loader.gif) no-repeat 50% 50%;
  z-index: 50;
}

#overlay {
  display: none;
  z-index: 50;
  position: fixed;
  top: 0;
  background: #f3f3f3;
  width: 100%;
}

#overlay > div {
  display: block; 
  text-align: center;
  margin: 100px 0 40px 0;
}

#overlay button {
  display: block;
  margin: 0 auto;
  padding: 20px 60px;
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  padding: 7px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 16.795%; /* auto */
  text-align: center; /* DELETE WHEN WIDTH AUTO */
  background: #00aeec;
}
