.clear:before,
.clear:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clear:after {
  clear: both;
}
.clear {
  *zoom: 1;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: Helvetica;
  background: black;
}
.container {
  position: relative;
}
#intro {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 100;
}
#preloader {
  width: 100%;
  background: #000 url(../loader.gif) no-repeat 50% 50%;
  position: fixed;
  top: 0;
  z-index: 50;
}
#enter {
  text-align: center;
  color: #fff;
  padding: 10px 15px;
  background: #232c30;
}
.icon {
  position: relative;
}
.icon:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.container {
  height: 100%;
}
nav#primary {
  height: 50px;
}
nav#primary .button {
  min-width: 50px;
  max-width: 70px;
  height: 50px;
  background: #232c30;
  float: left;
  color: white;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
  margin-right: 2px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
nav#primary .button.current {
  background: #00aeec;
}
nav#primary .button#playpause {
  min-width: 90px;
}
nav#primary .btn-group {
  margin: 0 auto;
  text-align: center;
}
nav#primary #playpause:before {
  content: "\F04C";
}
nav#primary #reset:before {
  content: "\F0E2";
}
nav#primary .paused:before {
  content: "\F04B" !important;
}
nav#primary #gyro:before {
  content: "\F07E";
}
nav#primary #touch:before {
  content: "\F0A4";
}
nav#primary #load:before {
  content: "\F0EE";
}
nav#primary #load {
  float: right;
  text-transform: uppercase;
  margin-right: 0;
}
section#parts {
  height: 100%;
  padding-top: 2px;
}
section#parts .part {
  width: 12.5%;
  color: white;
  background: #232c30;
  height: 100%;
  border-right: 2px solid black;
  float: left;
  cursor: pointer;
  -webkit-transition: background-color 600ms ease;
  -moz-transition: background-color 600ms ease;
  -ms-transition: background-color 600ms ease;
  -o-transition: background-color 600ms ease;
}
section#parts .part:nth-child(odd) {
  background: #1f272a;
}
section#parts .part.current {
  background: #00aeec;
}
section#parts .part.flash {
  background: white;
}
section#parts .part.queued {
  -webkit-animation: pulse 300ms ease infinite;
  -moz-animation: pulse 300ms ease infinite;
  -o-animation: pulse 300ms ease infinite;
  animation: pulse 300ms ease infinite;
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
  }
  50% {
    -webkit-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
  }
  50% {
    -webkit-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
  }
}
section#sections {
  height: 70px;
  padding-top: 2px;
}
section#sections .section {
  width: 12.5%;
  color: white;
  background: #232c30;
  content: "yeah";
  height: 70px;
  border-right: 2px solid black;
  float: left;
  cursor: pointer;
}
section#sections .section.current {
  background: #00aeec;
}
section#sections .section.queued {
  -webkit-animation: pulse 300ms ease infinite;
  -moz-animation: pulse 300ms ease infinite;
  -o-animation: pulse 300ms ease infinite;
  animation: pulse 300ms ease infinite;
}
section#sections .section .part {
  width: 12.5%;
  height: 100%;
  float: left;
  -webkit-transition: background-color 600ms ease;
  -moz-transition: background-color 600ms ease;
  -ms-transition: background-color 600ms ease;
  -o-transition: background-color 600ms ease;
}
section#sections .section .part.current {
  background: rgba(255, 255, 255, 0.4);
}

section#sections .section .part.flash {
  background: rgba(255, 255, 255, 0.7);
}
#notice {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding-top: 30%;
  text-align: center;
  font-size: 1.5em;
  display: none;
  z-index: 999;
  top: 0;
  left: 0;
}