.clear:before,
.clear:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clear:after {
  clear: both;
}
.clear {
  *zoom: 1;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: Helvetica;
  background: black;
}
.container {
  position: relative;
}
.icon {
  position: relative;
}
.icon:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.container {
  height: 100%;
}
nav#primary {
  height: 50px;
}
nav#primary div {
  width: 80px;
  height: 50px;
  background: #333;
  float: left;
  color: white;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
  margin-right: 2px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
nav#primary div.current {
  background: #00aeec;
}
nav#primary #playpause:before {
  content: "\F04B";
}
nav#primary .paused:before {
  content: "\F04C" !important;
}
nav#primary #gyro:before {
  content: "\F07E";
}
nav#primary #touch:before {
  content: "\F0A4";
}
nav#primary #load:before {
  content: "\F0EE";
}
nav#primary #load {
  float: right;
  text-transform: uppercase;
  margin-right: 0;
}
section#parts {
  height: 100%;
  padding-top: 2px;
}
section#parts div {
  width: 12.5%;
  color: white;
  background: #333;
  height: 100%;
  border-right: 2px solid black;
  float: left;
  cursor: pointer;
}
section#parts div.current {
  background: #00aeec;
}
section#sections {
  height: 50px;
  padding-top: 2px;
}
section#sections div {
  width: 12.5%;
  color: white;
  background: #333;
  content: "yeah";
  height: 50px;
  border-right: 2px solid black;
  float: left;
  cursor: pointer;
}
section#sections div.current {
  background: #00aeec;
}
