.clear:before,
.clear:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clear:after {
  clear: both;
}
.clear {
  *zoom: 1;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: Helvetica;
  background: black;
}
.container {
  position: relative;
}
#intro {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #f3f3f3;
  color: white;
  padding-top: 50px;
  text-align: center;
  font-size: 1.5em;
  display: none;
  z-index: 999;
  top: 0;
  left: 0;
}
#intro a {
  display: inline-block;
  margin: 10px 30px;
  text-decoration: none;
}
#preloader {
  position: fixed;
  top: 0;
  background: #000 url(../loader.gif) no-repeat 50% 50%;
  z-index: 50;
}
.icon {
  position: relative;
}
.icon:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.container {
  height: 100%;
}
nav#primary {
  height: 80px;
  text-align: center;
}
nav#primary .button {
  min-width: 100px;
  max-width: 120px;
  height: 80px;
  background: #232c30;
  float: left;
  color: white;
  text-align: center;
  padding-top: 28px;
  cursor: pointer;
  margin-right: 2px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 1.5em;
}
nav#primary .button.current {
  background: #00aeec;
}
nav#primary .button#playpause {
  min-width: 150px;
}
nav#primary .button#record {
  color: #c52626;
}
nav#primary .button#record.recording {
  -webkit-animation: recording 2000ms ease infinite;
  -moz-animation: recording 2000ms ease infinite;
  -o-animation: recording 2000ms ease infinite;
  animation: recording 2000ms ease infinite;
}
@keyframes recording {
  0% {
    -webkit-box-shadow: inset 0 0 22px 22px rgba(197, 38, 38, 0.2);
    -moz-box-shadow: inset 0 0 22px 22px rgba(197, 38, 38, 0.2);
    box-shadow: inset 0 0 22px 22px rgba(197, 38, 38, 0.2);
  }
  50% {
    -webkit-box-shadow: inset 0 0 22px 52px rgba(197, 38, 38, 0.5);
    -moz-box-shadow: inset 0 0 22px 52px rgba(197, 38, 38, 0.5);
    box-shadow: inset 0 0 22px 52px rgba(197, 38, 38, 0.5);
  }
  100% {
    -webkit-box-shadow: inset 0 0 22px 22px rgba(197, 38, 38, 0.2);
    -moz-box-shadow: inset 0 0 22px 22px rgba(197, 38, 38, 0.2);
    box-shadow: inset 0 0 22px 22px rgba(197, 38, 38, 0.2);
  }
}
@-webkit-keyframes recording {
  0% {
    -webkit-box-shadow: inset 0 0 22px 22px rgba(197, 38, 38, 0.2);
    -moz-box-shadow: inset 0 0 22px 22px rgba(197, 38, 38, 0.2);
    box-shadow: inset 0 0 22px 22px rgba(197, 38, 38, 0.2);
  }
  50% {
    -webkit-box-shadow: inset 0 0 22px 52px rgba(197, 38, 38, 0.5);
    -moz-box-shadow: inset 0 0 22px 52px rgba(197, 38, 38, 0.5);
    box-shadow: inset 0 0 22px 52px rgba(197, 38, 38, 0.5);
  }
  100% {
    -webkit-box-shadow: inset 0 0 22px 22px rgba(197, 38, 38, 0.2);
    -moz-box-shadow: inset 0 0 22px 22px rgba(197, 38, 38, 0.2);
    box-shadow: inset 0 0 22px 22px rgba(197, 38, 38, 0.2);
  }
}
nav#primary .btn-group {
  margin: 0 auto;
  display: inline-block;
}
nav#primary #playpause:before {
  content: "\F04C";
}
nav#primary #reset:before {
  content: "\F0E2";
}
nav#primary .paused:before {
  content: "\F04B" !important;
}
nav#primary #gyro:before {
  content: "\F07E";
}
nav#primary #touch:before {
  content: "\F0A4";
}
nav#primary #load:before {
  content: "\F0EE";
}
nav#primary #record:before {
  content: "\F111";
}
nav#primary #load {
  float: right;
  text-transform: uppercase;
}
nav#primary #seq1,
nav#primary #seq2,
nav#primary #seq3 {
  position: relative;
  padding-top: 0;
}
nav#primary #seq1 .part,
nav#primary #seq2 .part,
nav#primary #seq3 .part {
  width: 10.5%;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  float: left;
  position: relative;
  bottom: 0;
  margin-right: 2px;
  -webkit-transition: background-color 600ms ease;
  -moz-transition: background-color 600ms ease;
  -ms-transition: background-color 600ms ease;
  -o-transition: background-color 600ms ease;
}
nav#primary #seq1 .part[data-position="0"],
nav#primary #seq2 .part[data-position="0"],
nav#primary #seq3 .part[data-position="0"] {
  margin-top: 70px;
}
nav#primary #seq1 .part[data-position="1"],
nav#primary #seq2 .part[data-position="1"],
nav#primary #seq3 .part[data-position="1"] {
  margin-top: 60px;
}
nav#primary #seq1 .part[data-position="2"],
nav#primary #seq2 .part[data-position="2"],
nav#primary #seq3 .part[data-position="2"] {
  margin-top: 50px;
}
nav#primary #seq1 .part[data-position="3"],
nav#primary #seq2 .part[data-position="3"],
nav#primary #seq3 .part[data-position="3"] {
  margin-top: 40px;
}
nav#primary #seq1 .part[data-position="4"],
nav#primary #seq2 .part[data-position="4"],
nav#primary #seq3 .part[data-position="4"] {
  margin-top: 30px;
}
nav#primary #seq1 .part[data-position="5"],
nav#primary #seq2 .part[data-position="5"],
nav#primary #seq3 .part[data-position="5"] {
  margin-top: 20px;
}
nav#primary #seq1 .part[data-position="6"],
nav#primary #seq2 .part[data-position="6"],
nav#primary #seq3 .part[data-position="6"] {
  margin-top: 10px;
}
nav#primary #seq1 .part.current,
nav#primary #seq2 .part.current,
nav#primary #seq3 .part.current {
  background: rgba(255, 255, 255, 0.6);
}
section#parts {
  height: 100%;
  padding-top: 2px;
}
section#parts .part {
  width: 12.5%;
  color: white;
  background: #232c30;
  height: 100%;
  border-right: 2px solid black;
  float: left;
  cursor: pointer;
  -webkit-transition: background-color 600ms ease;
  -moz-transition: background-color 600ms ease;
  -ms-transition: background-color 600ms ease;
  -o-transition: background-color 600ms ease;
}
section#parts .part:nth-child(odd) {
  background: #1f272a;
}
section#parts .part.current {
  background: #00aeec;
}
section#parts .part.flash {
  background: white;
}
section#parts .part.queued {
  -webkit-animation: pulse 300ms ease infinite;
  -moz-animation: pulse 300ms ease infinite;
  -o-animation: pulse 300ms ease infinite;
  animation: pulse 300ms ease infinite;
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
  }
  50% {
    -webkit-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
  }
  50% {
    -webkit-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 12px 3px rgba(255, 255, 255, 0.1);
  }
}
section#sections {
  height: 100px;
  padding-top: 2px;
}
section#sections .section {
  width: 12.5%;
  color: white;
  background: #232c30;
  content: "yeah";
  height: 100px;
  border-right: 2px solid black;
  float: left;
  cursor: pointer;
}
section#sections .section.current {
  background: #00aeec;
}
section#sections .section.queued {
  -webkit-animation: pulse 300ms ease infinite;
  -moz-animation: pulse 300ms ease infinite;
  -o-animation: pulse 300ms ease infinite;
  animation: pulse 300ms ease infinite;
}
section#sections .section .part {
  width: 12.5%;
  height: 100%;
  float: left;
  -webkit-transition: background-color 600ms ease;
  -moz-transition: background-color 600ms ease;
  -ms-transition: background-color 600ms ease;
  -o-transition: background-color 600ms ease;
}
section#sections .section .part.current {
  background: rgba(255, 255, 255, 0.4);
}
section#sections .section .part.flash {
  background: rgba(255, 255, 255, 0.7);
}
#notice {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding-top: 30%;
  text-align: center;
  font-size: 1.5em;
  display: none;
  z-index: 999;
  top: 0;
  left: 0;
}
@media all and (max-width: 700px) {
  nav#primary {
    height: 70px;
  }
  nav#primary .button {
    min-width: 10%;
    max-width: 30%;
    height: 70px;
    padding-top: 24px;
    font-size: 1.3em;
  }
  nav#primary .btn-group {
    width: 45%;
    display: block;
    float: left;
  }
  nav#primary .btn-group .button {
    width: 23%;
  }
  nav#primary .btn-group #seq1.sequence .part,
  nav#primary .btn-group #seq2.sequence .part,
  nav#primary .btn-group #seq3.sequence .part {
    width: 6% ;
    height: 5 px;
  }
  nav#primary .btn-group #seq1.sequence .part[data-position="0"],
  nav#primary .btn-group #seq2.sequence .part[data-position="0"],
  nav#primary .btn-group #seq3.sequence .part[data-position="0"] {
    margin-top: 60px;
  }
  nav#primary .btn-group #seq1.sequence .part[data-position="1"],
  nav#primary .btn-group #seq2.sequence .part[data-position="1"],
  nav#primary .btn-group #seq3.sequence .part[data-position="1"] {
    margin-top: 50px;
  }
  nav#primary .btn-group #seq1.sequence .part[data-position="2"],
  nav#primary .btn-group #seq2.sequence .part[data-position="2"],
  nav#primary .btn-group #seq3.sequence .part[data-position="2"] {
    margin-top: 40px;
  }
  nav#primary .btn-group #seq1.sequence .part[data-position="3"],
  nav#primary .btn-group #seq2.sequence .part[data-position="3"],
  nav#primary .btn-group #seq3.sequence .part[data-position="3"] {
    margin-top: 40px;
  }
  nav#primary .btn-group #seq1.sequence .part[data-position="4"],
  nav#primary .btn-group #seq2.sequence .part[data-position="4"],
  nav#primary .btn-group #seq3.sequence .part[data-position="4"] {
    margin-top: 30px;
  }
  nav#primary .btn-group #seq1.sequence .part[data-position="5"],
  nav#primary .btn-group #seq2.sequence .part[data-position="5"],
  nav#primary .btn-group #seq3.sequence .part[data-position="5"] {
    margin-top: 20px;
  }
  nav#primary .btn-group #seq1.sequence .part[data-position="6"],
  nav#primary .btn-group #seq2.sequence .part[data-position="6"],
  nav#primary .btn-group #seq3.sequence .part[data-position="6"] {
    margin-top: 10px;
  }
  nav#primary #playpause {
    width: 25%;
    min-width: 0px !important;
  }
  nav#primary #load {
    width: 15%;
  }
  section#parts .part {
    width: 25%;
    height: 50%;
    border-bottom: 2px solid black;
  }
  section#sections {
    height: 70px;
  }
  section#sections .section {
    height: 70px;
  }
}
