@import "mixins.less";
@import "vars.less";

.clear:before,
.clear:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

* {
  .box-sizing(@type: border-box);
}

html, body {
  height: 100%;
  font-family: Helvetica;
  background: black;
}

.container {
  position: relative;
}

.icon {
    position: relative;
}

.icon:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.container {
  height: 100%;
}

nav#primary {

  height: 50px;

  div {
    width: 78px;
    height: 50px;
    background: @deselected-color;
    float: left;
    color: white;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
    margin-right: 2px;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    &.current {
      background: @selected-color;
    }
  }

  #playpause:before {
    content: "\F04C" ;

  }

  .paused:before {
    content: "\F04B" !important; 
  }

  #gyro:before{
    content: "\F07E";
  }

  #touch:before{
    content: "\F0A4";
  }

  #load:before {
    content: "\F0EE"
  }

  #load {
    float: right;
    text-transform: uppercase;
    margin-right: 0;
  }

} // nav#primary

section#parts {
  height: 100%;
  padding-top: 2px;

  .part {
    width: 12.5%;
    color: white;
    background: @deselected-color;
    height: 100%;
    border-right: 2px solid black;
    float: left;
    cursor: pointer;
    .transition(background-color 600ms ease);

    &.current {
      background: @selected-color;
    }

    &.queued {
        -webkit-animation: pulse 5s infinite; /* Safari 4+ */
        -moz-animation:    pulse 5s infinite; /* Fx 5+ */
        -o-animation:      pulse 5s infinite; /* Opera 12+ */
        animation:         pulse 5s infinite; /* IE 10+ */
        .inner-shadow (0, 0, 12px, 3px, rgba(255,255,255,0.3));
    }
  }

} //section#parts

@keyframes pulse {
  0% {
    .inner-shadow (0, 0, 12px, 3px, rgba(255,255,255,1));
  }
  50% {
    .inner-shadow (0, 0, 12px, 3px, rgba(255,255,255,0.3));
  }
  100% {
    .inner-shadow (0, 0, 12px, 3px, rgba(255,255,255,1));
  }
}


section#sections {
  height: 50px;
  padding-top: 2px;

  .section {
    width: 12.5%;
    color: white;
    background: @deselected-color;
    content: "yeah";
    height: 50px;
    border-right: 2px solid black;
    float: left;
    cursor: pointer;

    &.current {
      background: @selected-color;
    }

    &.queued {
      .inner-shadow (0, 0, 12px, 3px, rgba(255,255,255,0.2))
    }

    .part {
      width: 12.5%;
      height: 100%;
      float: left;
      .transition(background-color 600ms ease);

      &.current {
        background:rgba(255,255,255,0.4);
      }
    }


  }

} //section#parts