@import "mixins.less";
@import "vars.less";

.clear:before,
.clear:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

* {
  .box-sizing(@type: border-box);
}

html, body {
  height: 100%;
  font-family: Helvetica;
  background: black;
}

.container {
  position: relative;
}

.icon {
    position: relative;
}

.icon:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.container {
  height: 100%;
}

nav#primary {

  height: 50px;

  div {
    width: 78px;
    height: 50px;
    background: @deselected-color;
    float: left;
    color: white;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
    margin-right: 2px;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    &.current {
      background: @selected-color;
    }
  }

  #playpause:before {
    content: "\F04B"; 
  }

  .paused:before {
    content: "\F04C" !important;
  }

  #gyro:before{
    content: "\F07E";
  }

  #touch:before{
    content: "\F0A4";
  }

  #load:before {
    content: "\F0EE"
  }

  #load {
    float: right;
    text-transform: uppercase;
    margin-right: 0;
  }

} // nav#primary

section#parts {
  height: 100%;
  padding-top: 2px;

  div {
    width: 12.5%;
    color: white;
    background: @deselected-color;
    height: 100%;
    border-right: 2px solid black;
    float: left;
    cursor: pointer;
    .transition(background-color 800ms ease);

    &.current {
      background: @selected-color;
    }
  }

} //section#parts


section#sections {
  height: 50px;
  padding-top: 2px;

  div {
    width: 12.5%;
    color: white;
    background: @deselected-color;
    content: "yeah";
    height: 50px;
    border-right: 2px solid black;
    float: left;
    cursor: pointer;

    &.current {
      background: @selected-color;
    }
  }

} //section#parts